:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-blend-mode: exclusion;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

/* img {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.login-page {
  margin: auto;
  position: relative;
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  /* background-image: url('./assets/background.jpg'); */
  /* background-blend-mode: color-dodge;; */
}

.login-class {
  margin: auto;
  position: relative;
  /* background-color: #646cff; */
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35rem;
  border-radius: 5%;
  background-color: #6c7276  ;
  width: 40rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.login-navbar {
  margin-left: auto;
  margin-right: 5rem;
  position: relative;
  display: flex;
  place-items: right;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  min-height: 50%;

}

.login-symbol {
  top: 10%;
}