.sidebar{
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    border: 1px solid rgba(54, 162, 235, 1);
    height: 100%;
    box-sizing: border-box;
}

.projects-button{
    margin: 1em;
}

.create-project-button{
    margin: 1em;
    background-color: darkblue;
}

@media screen and (orientation: portrait) {
    .sidebar{
        display: flex;
        flex-direction: row;
        background-color: rgb(30, 30, 30);
        border: 1px solid rgba(54, 162, 235, 1);
        height: 7rem;
        box-sizing: border-box;
    }
  }