.sidebar{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(54, 162, 235, 1);
    height: 100%;
    width: 12em;
    box-sizing: border-box;
}

.projects-button{
    margin: 1em;
    height: 3em;
}

.create-project-button{
    margin: 1em;
    height: 3em;
    background-color: darkblue;
}

@media screen and (orientation: portrait) {
    .sidebar{
        display: flex;
        flex-direction: row;
        border: 1px solid rgba(54, 162, 235, 1);
        height: 7rem;
        box-sizing: border-box;
        width: 100%;
    }

    .projects-button{
        margin: 1em;
        height: 7em;
    }

    .create-project-button{
        margin: 1em;
        height: 7em;
        background-color: darkblue;
    }
  }