name: CI/CD

on:
  push:
    branches: []

permissions:
  checks: write
  contents: write
  id-token: write
  security-events: write

jobs:
  proj-ci:
    name: CI
    uses: ./.github/workflows/proj-ci.yaml
    secrets: inherit

  terraform-cd:
    name: Terraform CD
    needs: proj-ci
    secrets: inherit
    uses: ./.github/workflows/terraform-cd.yaml

  db-cd:
    name: "Flyway Migration"
    needs: terraform-cd
    secrets: inherit
    uses: ./.github/workflows/db-cd.yaml

  app-cd:
    name: "Server Deployment"
    needs: db-cd
    secrets: inherit
    uses: ./.github/workflows/app-cd.yaml
